<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
Welcome to Flesh, <%= @user.first_name %>!
    <p>
      You have successfully signed up to Flesh at flesh.io,
      and your screen name is: <%= @user.screen_name %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @login_url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>